/.DS_Store
/._.
/._.DS_Store
/._cosmology
/._environments
/._file.txt
/._logs
/._playground
/.astropy
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.elinks
/.emacs
/.gnome2
/.ipython
/.jupyter
/.local
/.matplotlib
/.mozilla
/.python_history
/.python_history-34462.tmp
/.ssh
/.viminfo
/.vscode-server
/environments
/errs
/intel
/logs
/perl5
/rds
/workspace.code-workspace
/slurm_submit.peta4-icelake
/slurm_submit.peta4-knl
/slurm_submit.peta4-skylake
/slurm_submit.peta4-cclake
/slurm_submit.wilkes2
/slurm_submit.wilkes3
playground/toy_models/.gitignore
.gitignore
playground/toy_models/.gitignore
.gitconfig
cosmology/job_directories/primordial_ps/output.txt
cosmology/job_directories/primordial_ps/machine.file.56605860
cosmology/job_directories/primordial_ps/machine.file.56605916
cosmology/.gitignore
cosmology/job_directories/primordial_ps/output_
cosmology/job_directories/primordial_ps/primordial_ps_8.slurm
cosmology/job_directories/primordial_ps/primordial_ps_2.slurm
cosmology/job_directories/primordial_ps/primordial_ps_4.slurm
cosmology/job_directories/primordial_ps/primordial_ps_6.slurm
cosmology/job_directories/primordial_ps/run_2.py
cosmology/job_directories/primordial_ps/run_4.py
cosmology/job_directories/primordial_ps/run_6.py
cosmology/job_directories/primordial_ps/run_8.py
.gitignore
cosmology/job_directories/primordial_ps/output_test/primordial_ps_nInternalPoints6nLive10.input.yaml
cosmology/job_directories/primordial_ps/output_test/primordial_ps_nInternalPoints6nLive10.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_test/primordial_ps_nInternalPoints6nLive10.updated.yaml
cosmology/job_directories/primordial_ps/output_/primordial_ps_nDims8nLive200.input.yaml
cosmology/job_directories/primordial_ps/output_/primordial_ps_nDims8nLive200.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_/primordial_ps_nDims8nLive200.updated.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100.input.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100.logZ
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100.updated.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100.input.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100.logZ
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100.updated.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100.input.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100.logZ
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100.updated.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100.input.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100.input.yaml.locked
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100.updated.yaml
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_clusters/primordial_ps_nInternalPoints2nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100_dead-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100_dead.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100_phys_live-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100_phys_live.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100_prior.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100.paramnames
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100.prior_info
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100.resume
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100.stats
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/primordial_ps_nInternalPoints2nLive100.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints2nLive100_1_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints2nLive100_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints2nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints2nLive100_phys_live_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_clusters/primordial_ps_nInternalPoints4nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100_dead-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100_dead.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100_phys_live-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100_phys_live.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100_prior.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100.paramnames
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100.prior_info
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100.resume
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100.stats
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/primordial_ps_nInternalPoints4nLive100.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints4nLive100_1_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints4nLive100_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints4nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints4nLive100_phys_live_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_clusters/primordial_ps_nInternalPoints6nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_clusters/primordial_ps_nInternalPoints6nLive100.2.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100_dead-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100_dead.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100_phys_live-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100_phys_live.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100_prior.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100.paramnames
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100.prior_info
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100.resume
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100.stats
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/primordial_ps_nInternalPoints6nLive100.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive100_1_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive100_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive100_2_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive100_2.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive100_phys_live_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints6nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive100_phys_live_2.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100_dead-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100_dead.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100_phys_live-birth.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100_phys_live.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100_prior.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100.paramnames
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100.prior_info
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100.resume
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100.stats
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/primordial_ps_nInternalPoints8nLive100.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints8nLive100_1_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints8nLive100_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints8nLive100_2_equal_weights.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints8nLive100_2.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints8nLive100_phys_live_1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_polychord_raw/clusters/primordial_ps_nInternalPoints8nLive100_phys_live_2.txt
.gitignore
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100.logZ
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_clusters/primordial_ps_nInternalPoints8nLive100.1.txt
cosmology/job_directories/primordial_ps/output_fixedtau/primordial_ps_nInternalPoints8nLive100_clusters/primordial_ps_nInternalPoints8nLive100.2.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800.input.yaml
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800.input.yaml.locked
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800.updated.dill_pickle
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800.updated.yaml
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800_dead-birth.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800_dead.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800_equal_weights.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800_phys_live-birth.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800_phys_live.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800_prior.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800.paramnames
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800.prior_info
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800.resume
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800.stats
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/primordial_ps_nInternalPoints6nLive800.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive800_1_equal_weights.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive800_1.txt
cosmology/job_directories/primordial_ps/output_full/primordial_ps_nInternalPoints6nLive800_polychord_raw/clusters/primordial_ps_nInternalPoints6nLive800_phys_live_1.txt
cosmology/job_directories/primordial_ps/machine.file.56997155
cosmology/job_directories/primordial_ps/machine.file.57013859
cosmology/job_directories/primordial_ps/machine.file.57046336
cosmology/job_directories/primordial_ps/output2.png
cosmology/job_directories/primordial_ps/output4.png
cosmology/job_directories/primordial_ps/output6.png
cosmology/job_directories/primordial_ps/output8.png
