/.DS_Store
/._.
/._.DS_Store
/._cosmology
/._environments
/._file.txt
/._logs
/._playground
/.astropy
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.elinks
/.emacs
/.gnome2
/.ipython
/.jupyter
/.local
/.matplotlib
/.mozilla
/.python_history
/.python_history-34462.tmp
/.ssh
/.viminfo
/.vscode-server
/errs
/intel
/logs
/perl5
/rds
/workspace.code-workspace
/slurm_submit.peta4-icelake
/slurm_submit.peta4-knl
/slurm_submit.peta4-skylake
/slurm_submit.peta4-cclake
/slurm_submit.wilkes2
/slurm_submit.wilkes3

/cosmology/cobaya_cosmo_packages
/cosmology/archive
/cosmology/.vscode
/cosmology/paper_cosmo_demo
/cosmology/.gitignore
/cosmology/cosmology_polychord.slurm 
/cosmology/job_directories/primordial_ps/archive 
/cosmology/job_directories/primordial_ps/cache 
/cosmology/job_directories/primordial_ps/chains 


/playground/cobaya_playground
/playground/bayesian_model_selection.py
/playground/toy_models/cache

/environments/cobaya_env2
/environments/old_cobaya_install.sh