/.DS_Store
/._.
/._.DS_Store
/._cosmology
/._environments
/._file.txt
/._logs
/._playground
/.astropy
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.elinks
/.emacs
/.gnome2
/.ipython
/.jupyter
/.local
/.matplotlib
/.mozilla
/.python_history
/.python_history-34462.tmp
/.ssh
/.viminfo
/.vscode-server
/environments
/errs
/intel
/logs
/perl5
/rds
/workspace.code-workspace
/slurm_submit.peta4-icelake
/slurm_submit.peta4-knl
/slurm_submit.peta4-skylake
/slurm_submit.peta4-cclake
/slurm_submit.wilkes2
/slurm_submit.wilkes3
playground/toy_models/.gitignore
.gitignore
playground/toy_models/.gitignore
.gitconfig
cosmology/job_directories/primordial_ps/output.txt
cosmology/job_directories/primordial_ps/machine.file.56605860
cosmology/job_directories/primordial_ps/machine.file.56605916
cosmology/.gitignore
cosmology/job_directories/primordial_ps/output_